#######################################################################################
##################                V#RP CORE                      ######################
##################                PERMS FILE                     ######################
#######################################################################################


# owners have permisions by deafault
add_ace group.owner command allow # allow all commands
add_ace group.owner command.quit deny # but don't allow quit

# other resources add their permissions here if required

#add_principal identifier.steam:1100001335513c4 group.owner
#add_principal identifier.steam:xxxxxxxx group.moderator   #< then this group will have permissions if you add it bellow



############################################################################
##################    VORP CORE LUA COMMAND PERMISIONS    ##################
############################################################################
# OWNERS HAVE ALL PERMISSIONS BY DEFAULT

add_ace group.owner vorpcore.tpm.Command allow # TPM
add_ace group.owner vorpcore.addMoney.Command allow # ADDMONEY
add_ace group.owner vorpcore.additems.Command allow # ADDITEMS
add_ace group.owner vorpcore.setGroup.Command allow # SET GROUP
add_ace group.owner vorpcore.delCurrency.Command allow # DELCURRENCY
add_ace group.owner vorpcore.addweapons.Command allow # ADDWEAPONS
add_ace group.owner vorpcore.setJob.Command allow # SETJOB
add_ace group.owner vorpcore.reviveplayer.Command allow # REVIVE
add_ace group.owner vorpcore.delhorse.Command allow # DEL HORSE
add_ace group.owner vorpcore.delwagons.Command allow # DEL WAGONS RADIOUS
add_ace group.owner vorpcore.healplayer.Command allow # HEAL
add_ace group.owner vorpcore.wlplayer.Command allow # WHITELIST
add_ace group.owner vorpcore.unwlplayer.Command allow # UNWHITELIST
add_ace group.owner vorpcore.ban.Command allow # BAN
add_ace group.owner vorpcore.unban.Command allow # UNBAN
add_ace group.owner vorpcore.warn.Command allow # WARN
add_ace group.owner vorpcore.unwarn.Command allow # UNWARN
add_ace group.owner vorpcore.changeCharName allow # chnage name

## SHOW COMMANDS
add_ace group.owner vorpcore.showAllCommands allow # ALLOW THIS FOR ALL STAFF OR THEY WONT BE ABLE TO SEE THE COMMANDS