#######################################################################################
##################                                               ######################
##################                V#RP CORE                      ######################
##################                FRAMEWORK                      ######################
##################                                               ######################
#######################################################################################



# READ THIS  IS IMPORTANT
#############################################################################################  
# NOTE: THAT YOU MIGHT NEED TO TRANSLATE SOME SCRIPTS TO YOUR LANGUAGE                      #
# CHECK FOR EVERY SCRIPT IF THEY HAVE A CONFIG.LUA FILE THATS WHERE YOU CHANGE THINGS       #
# MAKE SURE TO CHECK FOR ERRORS IN YOUR CONSOLE OR IN GAME  PRESS F8                        #
#############################################################################################

ensure mapmanager
ensure spawnmanager
ensure sessionmanager-rdr3
ensure rconlog
ensure oxmysql
ensure basic-gamemode
ensure chat
ensure menuapi 
ensure weathersync
ensure interiors
ensure syn_minigame

# do not change the load order scripts must no go before this list add other scripts bellow

############### VORP SCRIPTS ###################
ensure vorp_core
ensure vorp_inputs
ensure vorp_progressbar
ensure vorp_character
ensure vorp_inventory
ensure vorp_utils
ensure vorp_admin
ensure vorp_metabolism
ensure vorp_barbershop
ensure vorp_postman
ensure vorp_hunting
ensure vorp_stables
ensure vorp_weaponsv2
ensure vorp_clothingstores
ensure vorp_stores
ensure vorp_fishing
ensure vorp_housing
ensure vorp_banking
ensure vorp_mailbox
ensure vorp_walkanim
ensure vorp_ml_policejob
ensure vorp_crafting
ensure vorp_zonenotify
#ensure vorp_traffic -- will limitate peds and animals
#ensure vorp_radius -- culling
#ensure vorp_bossmanager
ensure vorp_mining
ensure vorp_lumberjack
ensure vorp_animations
ensure vorp_outlaws
ensure vorp_imapviewtool
#################################################
#ADD MORE SCRIPTS HERE


